@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('☺'), url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf') format('truetype'), url('../fonts/SFProDisplay-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('☺'), url('../fonts/SFProDisplay-Medium.woff') format('woff'), url('../fonts/SFProDisplay-Medium.ttf') format('truetype'), url('../fonts/SFProDisplay-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('☺'), url('../fonts/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDisplay-Bold.ttf') format('truetype'), url('../fonts/SFProDisplay-Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'SFProDisplay', sans-serif;
}

%default-font {
    font-size: 8px;
    line-height: 12px;
}

%extended-titles-font {
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    color: #313131;
}

.white-btn {
    font-size: 7px;
    font-weight: 500;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 6.5px;
    color: #836FFF;
    border: 1px solid #836FFF;
    border-radius: 6px;
}

.purple-btn {
    font-size: 7px;
    font-weight: 500;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 6.5px;
    background-color: #836FFF;
    color: #ffffff;
    border-radius: 6px;
}

.resume {
    margin: 0 auto;
    width: 595px;
    background: #F5F6FA;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 10px;
    padding: 10px;
    align-content: flex-start;

    &__block {
        background: #ffffff;
        box-shadow: 0px 4px 22px 0px #0000001A;
        border-radius: 5px;
    }

    &__personal {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 164px;
        padding: 10px 20px;
        gap: 12px;

        &-photo {
            margin: 0 auto;
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;

            img {
                height: 70px;
            }
        }

        &-data {
            margin-top: 5px;
            font-size: 12px;
            color: #313131;
            text-align: center;

            &-city {
                font-size: 10px;
                line-height: 12px;
                font-weight: 400;
            }

            &-name,
            &-age {
                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
            }


        }

        &-bottom {
            color: #4E4E4E;

            &-title {
                font-size: 10px;
                line-height: 12px;
            }
        }

        &-contacts {
            padding-left: 0;
            font-size: 8px;
            line-height: 9.5px;
            list-style: none;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;

            & li {
                margin-top: 9px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
            }

            &-tg>a {
                color: #4E4E4E;
            }

            &-github>a {
                color: #4E4E4E;
            }
        }
    }

    &__professional {
        padding: 10px;
        width: 405px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        &-summary {
            font-size: 12px;
            line-height: 14px;
            font-weight: 600;

            &-level,
            &-experience {
                color: #646464;
            }

            &-position {
                color: #313131;
            }

        }

        &-conditions {
            margin-top: 10px;

            &-title {
                color: #313131;
                font-size: 10px;
                line-height: 12px;
                font-weight: 600;
            }

            .salary,
            .location,
            .employment,
            .stack {
                margin-top: 6px;
                display: flex;
                gap: 10px;

                &__items {
                    flex-wrap: wrap;
                    display: flex;
                    gap: 10px;
                }
            }


            .salary__title,
            .location__title,
            .employment__title,
            .stack__title {
                font-size: 9px;
                line-height: 11px;
                font-weight: 400;
                color: #4E4E4E;
            }

        }

        &-skills {
            margin-top: 16px;

            &-title {
                color: #313131;
                font-size: 10px;
                line-height: 12px;
                font-weight: 600;
            }

            .used-skills {
                margin-top: 6px;
            }

            .known-skills {
                margin-top: 12px;
            }

            .used-skills,
            .known-skills {
                display: flex;
                column-gap: 10px;
                row-gap: 5px;
                flex-wrap: wrap;
                flex-direction: row;

                &__title {
                    font-size: 9px;
                    line-height: 11px;
                    color: #4E4E4E;
                    font-weight: 400;
                }
            }
        }
    }

    &__extended {
        padding: 15px 20px;
        width: 575px;
        grid-column: 1 / 3;

        // display: flex;
        // justify-content: flex-start;
        // gap: 20px;
        // flex-direction: column;

        &-commercial {

            &-title {
                @extend %extended-titles-font;
            }

            &-items {
                margin-top: 12px;
                position: relative;
                border-left: 1px dashed #836FFF;
            }

            .commercial-item {
                display: block;
                display: flex;
                gap: 30px;
                padding-left: 13px;
                position: relative;
                margin-top: 0;
                padding-top: 20px;

                &:nth-child(1) {
                    margin-top: 20px;
                    padding-top: 0;
                }
                

                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    left: -3px;
                    background: #836FFF;
                    border-radius: 50%;
                }

                &__summary {
                    width: 150px;

                    &-company {
                        @extend %default-font;
                        color: #836FFF;
                        font-weight: 500;
                    }

                    &-work {
                        font-size: 6px;
                        font-weight: 400;
                        line-height: 7px;
                        color: #969696;
                        margin-top: 5px;
                    }

                    &-position {
                        font-size: 7px;
                        font-weight: 400;
                        line-height: 8px;
                        color: #4E4E4E;
                        margin-top: 5px;
                    }

                    &-period {
                        font-size: 7px;
                        font-weight: 400;
                        line-height: 7px;
                        color: #4E4E4E;
                    }

                    &-project-link {
                        margin-top: 5px;
                        font-size: 6px;
                        font-weight: 500;
                        line-height: 7px;

                        &>a {
                            text-decoration: underline;
                            color: #969696;
                        }
                    }

                    &-technologies {
                        margin-top: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 10px;
                        row-gap: 5px;
                    }
                }

                &__info {
                    &-title {
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #4E4E4E;
                    }

                    &-tasks-list {
                        padding-left: 25px;
                        @extend %default-font;
                        text-align: left;
                        margin-top: 5px;
                        color: #4E4E4E;
                    }
                }

            }
        }

        &-portfolio {
            position: relative;

            &-title {
                display: none;
            }

            &-items {
                margin-top: 12px;
                position: relative;
                border-left: 1px dashed #836FFF;

                .portfolio-item {
                    
                    padding-top: 40px;
                }

                .portfolio-item:nth-child(1) {
                    page-break-after: auto;
                    border-left: none;

                    & > .portfolio-item__summary::after {
                        content: 'Портфолио';
                        @extend %extended-titles-font;
                        position: absolute;
                        left: -1px;
                        top: 0px;
                        background-color: white;
                        height: 29px;
                        z-index: 3000;
                        page-break-inside: avoid;
                        page-break-before: always;
                        padding-top: 10px;
                    }   
                }
                

                
            }

            // .portfolio-item

            

            .portfolio-item-test {
                // margin-top: 20px;
                display: flex;
                gap: 30px;
                padding-left: 13px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    left: -3px;
                    background: #836FFF;
                    border-radius: 50%;
                }

                &__summary {
                    min-width: 150px;
                    max-width: 150px;

                    &-project-name {
                        font-size: 8px;
                        font-weight: 500;
                        line-height: 10px;
                        color: #4E4E4E;
                    }

                    &-project-details {
                        margin-top: 5px;
                        font-size: 7px;
                        font-weight: 400;
                        line-height: 8px;
                        color: #4E4E4E;
                    }

                    &-project-link {
                        margin-top: 5px;
                        font-weight: 500;
                        line-height: 7px;
                        font-size: 6px;

                        &>a {
                            text-decoration: underline;
                            color: #969696;
                        }
                    }

                    &-technologies {
                        margin-top: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 10px;
                        row-gap: 5px;
                    }
                }

                &__info {
                    &-title {
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #4E4E4E;
                    }

                    &-descr {
                        @extend %default-font;
                        font-weight: 400;
                        color: #4E4E4E;
                        margin-left: 17px;
                        margin-bottom: 5px;
                    }

                    &-tasks-list {
                        margin-top: 5px;
                        padding-left: 25px;
                        @extend %default-font;
                        text-align: left;
                        color: #4E4E4E;
                    }
                }
            }

            .portfolio-item-pet {
                display: flex;
                gap: 30px;
                padding-left: 13px;
                position: relative;
                padding-top: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    left: -3px;
                    background: #836FFF;
                    border-radius: 50%;
                    z-index: 4;
                }

                &__summary {
                    min-width: 150px;
                    max-width: 150px;

                    &-project-name {
                        font-size: 8px;
                        font-weight: 500;
                        line-height: 10px;
                        color: #4E4E4E;
                    }

                    &-project-details {
                        margin-top: 5px;
                        font-size: 6px;
                        font-weight: 400;
                        line-height: 7px;
                        color: #4E4E4E;
                    }

                    &-project-type {
                        margin-top: 5px;
                        font-size: 7px;
                        font-weight: 400;
                        line-height: 8px;
                        color: #4E4E4E;
                    }

                    &-project-period {
                        font-size: 6px;
                        font-weight: 400;
                        line-height: 7px;
                        color: #4E4E4E;
                    }

                    &-project-link {
                        margin-top: 5px;
                        font-weight: 500;
                        line-height: 7px;
                        font-size: 6px;

                        &>a {
                            text-decoration: underline;
                            color: #969696;
                        }
                    }

                    &-technologies {
                        margin-top: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 10px;
                        row-gap: 5px;
                    }
                }

                &__info {
                    &-title {
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #4E4E4E;
                    }

                    &-descr {
                        @extend %default-font;
                        font-weight: 400;
                        color: #4E4E4E;
                        margin-left: 17px;
                        margin-bottom: 5px;

                        &>ul {
                            text-align: left;
                            padding-left: 15px;
                        }
                    }

                    &-tasks-list {
                        margin-top: 5px;
                        padding-left: 25px;
                        @extend %default-font;
                        text-align: left;
                        color: #4E4E4E;
                    }

                }
            }
        }

        &-about-me {
            padding-top: 20px;
            display: block;

            &-title {
                @extend %extended-titles-font;
            }

            &-items {
                
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .about-me-item {
                    @extend %default-font;
                    color: #4E4E4E;

                    &__quest {
                        font-weight: 300;
                    }

                    &__ans {
                        font-weight: 500;
                    }
                }
            }
        }

        &-education {
            padding-top: 20px;
            display: block;

            &-title {
                @extend %extended-titles-font;
            }

            &-items {
                margin-top: 5px;
            }

            .education-item {
                padding-top: 20px;
                display: flex;
                @extend %default-font;
                font-weight: 400;
                

                &__degree-info,
                &__speciality-info {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    justify-content: center;
                }

                .degree-info {
                    color: #313131;
                    flex-basis: 120px;

                    &__level {
                        font-weight: 700;
                    }
                }

                .speciality-info {
                    color: #4E4E4E;
                    &__university {
                        color: #836FFF;
                        font-weight: 500;
                    }

                    &__speciality {
                        font-weight: 500;
                    }
                }
            }

            .education-item:first-child {
                padding-top: 0;
            }
        }

        &-courses {
            padding-top: 20px;
            display: block;

            &-title {
                @extend %extended-titles-font;
            }

            &-items {
                margin-top: 5px;
            }

            .courses-item {
                padding-top: 20px;
                display: flex;
                @extend %default-font;
                font-weight: 500;
                display: grid;
                grid-template-columns: 342px 162px;
                justify-content: space-between;
                gap: 0;

                &__block {
                    @extend %default-font;
                    color: #4E4E4E;
                }

                &__block-1 {
                    grid-column: 1 / 3;
                    padding-bottom: 2px;

                    span {
                        color: #836FFF;
                    }
                }

                &__block-2 {
                    padding-bottom: 12px;
                    
                }

                &__block-3 {
                    align-self: flex-end;
                }

                &__block-4 {
                    font-weight: 400;
                }

                &__block-5 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: #836FFF;
                
                    &>a {
                        text-overflow: ellipsis;
                        color: #836FFF;
                    }
                }
            }

            .courses-item:first-child {
                padding-top: 0;
            }

        }
    }

    &_separable {
        page-break-inside: avoid;
    }
}



.separator {
    page-break-before: always;
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 595px;
    height: 30px;
    background-color: #E5E5E5;
    overflow: hidden;
    z-index: 100;
}

.separator::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 10px;
    left: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

.separator::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 10px;
    left: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

